flask==3.0.3
pymongo==4.10.1
python-dotenv==1.0.1
flask-login==0.6.3
flask-bcrypt==1.0.1
dnspython==2.7.0
requests==2.32.3
werkzeug==3.0.6
email_validator==2.2.0
certifi==2024.12.14
flask-wtf==1.2.2
waitress==3.0.2
google-genai==2.7.0
